<div id="recover-password-div">
    <div id="content-recover">
        <form id="recover-form">
            <input id="password-recover" type="password" placeholder="Password">
            <p id="error-password-recover" class="error"></p>
            <input id="confpassword-recover" type="password" placeholder="Confirm Password">
            <p id="error-confpassword-recover" class="error"></p>
            <button name="login-btn" type="button" id="recover-password-cpass">Recover password</button>
        </form>
    </div>
</div>